body {
    background-color: #101255;
}

/* Font theme */
h1, h2, h3,p, th, td, label, input, select{
    font-family: "Helvetica", Sans-serif;
}

h1 {
    font-size: 2em;
}

h1, h2, h3, p, th, td, label {
    color: #F0F3F6;
}

h1, h2, h3, p {
    text-align: center;
}

.content {
    padding: 0.5em 2em 2em 2em;
    width: 60%;
    margin: auto;
    background-color: #406de7;
    border-radius: 15px;
}

iframe {
    height: 0px;
}

img {
    display: block;
    margin: auto;
}